<div class="container text-center p-2 my-3">
    <h1>Joy Photos from Flickr</h1>
    <p>A collection of photos fetch from Flickr using their API made in Angular. Back to <a href="http://www.joypicar.com/">Main Site</a></p>
    <p class="preloader" *ngIf="isLoading; else loaded">Loading...</p>
    <ng-template #loaded>
        <div *ngFor="let item of collection" class="col-md-3 col-sm-6 d-inline-block p-3">
            <img src="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_n.jpg" class="thumb rounded" (click)="open(content, item.id)">
    
            <ng-template #content let-modal>
                <div class="modal-body" *ngIf="photoInfo">  
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <img src="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_b.jpg" class="rounded"> 
                    <div class="p-3">
                        <h4 class="modal-title mb-2" id="modal-basic-title" *ngIf="photoInfo">{{ item.title }}</h4> 
                        <p class="mb-0">Camera: {{ photoInfo.camera }} <br>
                        Lens Model: {{ lens }} <br>
                        ISO Speed: {{ iso }} <br>
                        Aperture: {{ aperture }} <br>
                        Exposure: {{ exposure }} </p>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <a href="https://farm{{item.farm}}.staticflickr.com/{{item.server}}/{{item.id}}_{{item.secret}}_b.jpg" target="_blank" class="btn btn-outline-primary px-3">Download</a>
                    <a href="https://www.flickr.com/photos/joysancute/{{item.id}}" target="_blank" class="btn btn-primary px-3">View in Flickr</a>
                </div>
            </ng-template>
        </div>
        <div>
            <button class="btn btn-outline-primary mx-1 px-3" (click)="prev()">Previous</button>
            <button class="btn btn-primary mx-1 px-3" (click)="next()">Next</button>
        </div>
    </ng-template>
    
</div>

